<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= todo.title %></title>
    </head>
    <body>
        <h1><%= todo.title %></h1>
        <hr>
            <a href="/remove-todo/<%= todo.id %>">
                odebrat
            </a>
        &nbsp;
        <a href="/toggle-todo/<%= todo.id %>">
            <%= todo.done ? 'hotovo' : 'nehotvo' %>
        </a>
            <hr>
                <form method="post" action="/update-todo/<%= todo.id %>">
                    <h2>Upravit todočko</h2>
                    <label>Název</label>
                    <input placeholder="Název todočka" name="title" value="<%= todo.title %>">
                    <label>Priorita</label>
                    <select name="priority">
                        <option value="low" <%= todo.priority === 'low' ? 'selected' : '' %>><%= translatePriority('low') %></option>
                        <option value="normal" <%= todo.priority === 'normal' ? 'selected' : '' %>><%= translatePriority('normal') %></option>
                        <option value="high" <%= todo.priority === 'high' ? 'selected' : '' %>><%= translatePriority('high') %></option>
                    </select>
                    <button type="submit">Upravit</button>
                </form>
            <hr>
        <a href="/">Zpět na seznam</a>
    </body>
    <script>
        ws.addEventListener('message', (ev) => {
            const data = JSON.parse(ev.data);

            if (data.type === 'todoList') {
                // Aktualizujte váš seznam todočků...
            } else if (data.type === 'todoDetails' && viewingTodoId === data.todoId) {
                // Aktualizujte detail zobrazeného todočka...
            } else if (data.type === 'todoDeleted' && viewingTodoId === data.todoId) {
                // Todočko bylo smazáno, informujte uživatele a možná přesměrujte nebo skryjte detaily.
                alert('Todočko bylo smazáno.');
                // Přesměrování nebo skrytí detailů...
            }
        });
    </script>
</html>
